@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root{
  --cor0: #c3f3c0;
  --cor1: #7ee081;
  --cor2: #62a87c;
  --cor3: #7bc6e7;
  --cor4: #373849;

  --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
  --fonte-destaque: 'Roboto', sans-serif;
}

*{
  margin: 0px;
  padding: 0px;
}

nav{
  font-family: var(--fonte-destaque);
  padding: 10px;
  background-color: var(--cor4);
  box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.395);
}

nav > a {
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
  transition-duration: .5s;
}

nav > a:hover {
  background-color: var(--cor3);
  color: var(--cor4);
}

body {
  background-color: var(--cor1);
}

header {
  background-color: var(--cor4);
  padding-top: 20px;
  padding-bottom: 20px;
}
h1 {
  padding: 10px;
  font-family: var(--fonte-destaque);
  font-weight: bold;
  font-size: 3em;
  letter-spacing: 3.1px;
  color: white;
}

p.head1 {
  padding-left: 10px;
  padding-top: 25px;
  font-family: var(--fonte-destaque);
  font-size: medium;
  font-weight: bold;
  letter-spacing: 2px;
  color: white;
}
p.head2 {
  padding-left: 10px;
  font-family: var(--fonte-destaque);
  font-size: medium;
  font-weight: bold;
  letter-spacing: 2px;
  color: white;
}

main {
  background-color: white;
  min-width: 300px;
  max-width: 1000px;
  margin: auto;
  margin-bottom: 30px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.418);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}