@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root{
  --cor0: #c3f3c0;
  --cor1: #7ee081;
  --cor2: #62a87c;
  --cor3: #7bc6e7;
  --cor4: #373849;

  --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
  --fonte-destaque: 'Roboto', sans-serif;
}